#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    
}

@media header {
    width: 50%;
}

body{
    display: flex;
    background-color: khaki;
}

#header-img{
   width: 100px;
   height: 100px;;
}

#nav-bar{
    position: fixed;
    top: 0;
    left: 400px;
    width: 100%

}

ul{
    margin: auto;
    padding: 0%;
}

.nav-link{

}

#about-us{
    text-align: center;

}

#available-pupis{

}

#contact-us{

}

#pupy-1{
    width: 100px;
    height: 100px;
    
}

#pupy-2{
    width: 100px;
    height: 100px;
    
}

#pupy-3{
    width: 100px;
    height: 100px;
    
}
 
#video{
    align: center;

}

#form{
    box-align: center

}

#name{
    padding: 0px;
    border: lightblue;
    height: 25px;
    box-align: center;

}

#email{
    padding: 0px;
    border: lightblue;
    height: 25px;
    box-align: center;

}

#submit{
    box-align: center;

}

.btn{

}