#header{
    
}
#header-img{
   width: 100px;
   height: 100px;;
}

#nav-bar{

}

.nav-link{

}

#about-us{

}

#available-pupis{

}

#contact-us{

}

#pupy-1{
    width: 100px;
    height: 100px;;
}

#pupy-2{
    width: 100px;
    height: 100px;;
}

#pupy-3{
    width: 100px;
    height: 100px;;
}
